!!! strict
html
   head
      meta(charset='utf-8')
      title Dave's Resume
      link(rel='stylesheet', href='normalize.css')
      link(rel='stylesheet', href='html5.css')
      link(rel='stylesheet', href='style.stylus.css')
      script(src='app.js')

   body
      .contact-info
         | 201 Lester St. Unit 1204
         | Waterloo, ON, N2L 3W4
         hr
         | dave792321001730003212345@gmail.com &#149; (781) 558 - 3325
      h1 Dave Lu
      hr

      h2 Skills

      ul
         li 
            | Three years of programming
            | Javascript, Java, C/C++, and Python through
            | employment, coursework, and personal projects
         li 
            | Two years of experience collaborating with software
            | teams using version control, code/design reviews,
            | and issue trackers
         li 
            | One year front-end web development using 
            | Ext JS, GWT, AngularJS, Ember.js, and Twitter Bootstrap 
            | through work and personal projects
         li 
            | Self-motivated quick learner with strong curiosity about new
            | technologies 

      h2 Work (NEED TO MENTION TECKS MORE)

      ul.no-bullet
         li 
            .date
               | Jan. 2013 - Present 
               | Cambridge, MA
            h5 Software Developer Intern, Oracle
            ul
               li 
                  |  
               li 
                  |  
               ul
                  li 
                     |  
         li 
            .date
               | Apr. 2012 - Aug. 2012
               | Santa Clara, CA
            h5 Software Engineer, Arista Networks
            ul
               li 
                  | Fixed bugs and implemented features for 
                  | Arista's router and switch operating system
               li 
                  | Implemented BGP Route Flap Dampening, an Internet 
                  | Engineering Task Force (IETF) standard (RFC 2439) that
                  | reduces load on routers
               ul
                  li 
                     | Wrote design documentation and actively engaged 
                     | with peers in reviewing the design decisions through 
                     | meetings and online collaboration tools
                  li 
                     | Implemented the solution by leveraging and modifying an 
                     | existing Route Flap Dampening implementation
                  li 
                     | Wrote test cases/procedures and conducted tests 
                  li 
                     | Documented changes to code, usage, and suggestions 
                     | for future
         li 
            .date
               | Sept. 2011 - Dec. 2011
               | Toronto, ON
            h5 
               | Software Developer, Rypple 
               span.details (acquired by Salesforce.com Dec. 2011)
            ul
               li 
                  | Fixed bugs and developed features for a Human 
                  | Capital Management web application
               ul
                  li 
                     | Estimated complexity, wrote test cases and 
                     | defined acceptance criteria for new features
                  li 
                     | Designed and wrote code for new features and 
                     | requirements
                  li 
                     | Refactored and documented existing code

               li Placed third in an internal weekend hackathon 
               ul
                  li 
                     | Rapidly added a status update feature to an existing 
                     | goal setting feature with another developer


      .page-break-after

      h2 Side Projects 

      ul.no-bullet
         li 
            .date
               | Mar. 2012 - Present
            h5 HTML5 Music Player 
            ul
               li 
                  | Built a music player which runs in a web browser
                  | and directly plays local mp3s
               li 
                  | Created the front-end with Twitter Bootstrap and AngularJS 
               li 
                  | Parsed mp3 metadata by implementing 
                  | the ID3v2 spec with HTML5 webworkers and FileReader
            .date
               | Jan. 2012
               | University of Waterloo, ON
            h5 Facebook hackathon
            ul
               li 
                  | Worked in a team of three to code a quiz game in 24 hours 
               li 
                  | Coded the application using HTML, CSS, and Javascript 
                  | backed by NodeJS, MongoDB and Amazon S3 
               li 
                  | Collaborated through Git and deployed to Heroku
         li
            .date
               | June 2007 - Jan. 2008
            h5 Online game bot 
            ul
               li 
                  | Contributed to a project that automated
                  | repetitive tasks for the online game Runescape 
               li 
                  | Improved consistency of an item buying script by
                  | accounting for network latency 
               li 
                  | Tracked changes and issues with Subversion
                  | and Mantis bug tracker

      h2 Education 

      ul.no-bullet
         li 
            .date
               | Sept. 2010 - Present
               | Waterloo, ON
            h5
               | Candidate for Bachelor of Applied Science,
               | University of Waterloo
            h6
               | Mechatronics Engineering,
               | Cumulative Average 87%, rank 1 of 132 in 1st term

            ul.no-bullet
               li Intro to Computer Structure and Real-time Systems
               ul
                  li Operating system concepts
                  li Input/Output, Processes and Threads, Scheduling

               li Microprocessors and Digital Logic
               ul
                  li Assembly and C Programming, Programmable Logic Controllers

               li Algorithms and Data Structures (C Programming)
               ul
                  li 
                     | Memory management, time and space complexity
                     | analysis and optimization

      h2 Awards and Scholarships 
      ul
         li 
            .small-date Fall 2010 and Spring 2011
            | Dean's Honour List first two terms, University of Waterloo
         li 
            .small-date April 2010
            | President's Scholarship for exceeding 90% admission average,
            | University of Waterloo
         li 
            .small-date July 2010
            | Alexander Rutherford Scholarship, Alberta Education

      h2 Hobbies and Interests 
      ul.no-bullet
         li
            | Popping Dance
            span.dot
            | Starcraft and League of Legends
            span.dot
            | Flash animation
            span.dot
            | Fencing
            span.dot
            | Chess 









